<div class="container">
  <h1>Anagrams!</h1>
  <% if @anagram %>
    <% @anagram.each do |t| %>
      <p><%= t.dictionary_entry %></p>
    <% end %>

  <% end %>

  <form action="/anagram" method="post">
    Enter a word:
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Check it!">
  </form>
</div>
