<div class="container">
  <h1>Anagrams!</h1>


  <form action="/anagram" method="post">
    Enter a word:
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Check it!">
  </form>
</div>
